/* PAGINA PEDIDOS */
/* PAGINA PEDIDOS */
/* PAGINA PEDIDOS */

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main{
        flex: 1;
        .mas-pedidos{
            margin-top: 20px;
            margin-bottom: 30px;
            font-family: 'Permanent Marker', cursive;
            color: $titlecolor;
            font-weight: bold;
            font-size: 50px;
            letter-spacing: 4px;
            text-align: center;

            
        }

    }

    .contenedor-pedidos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "hamburguesa1 hamburguesa2 hamburguesa3"
        "hamburguesa4 hamburguesa5 hamburguesa6"
        "hamburguesa7 hamburguesa8 hamburguesa9";

        .contenedor-hamburguesa{
            place-items: center;
            text-align: center;
            align-items: center;
            margin-bottom: 10px;
        
            .hamburguesa1{
                grid-area: hamburguesa1;
            }
            .hamburguesa2{
                grid-area: hamburguesa2;
            }
            .hamburguesa3{
                grid-area: hamburguesa3;
            }
            .hamburguesa4{
                grid-area: hamburguesa4;
            }
            .hamburguesa5{
                grid-area: hamburguesa5;
            }
            .hamburguesa6{
                grid-area: hamburguesa6;
            }
            .hamburguesa7{
                grid-area: hamburguesa7;
            }
            .hamburguesa8{
                grid-area: hamburguesa8;
            }
            .hamburguesa9{
                grid-area: hamburguesa9;
            }
        

            .hamburguesa{
                display: grid;
                place-items: center;
                text-align: center;
                width: 100%;
            }
                
                
            .pedido1,
            .pedido2,
            .pedido3,
            .pedido4,
            .pedido5,
            .pedido6,
            .pedido7,
            .pedido8,
            .pedido9{

                display: flex;
                flex-direction: column;
                place-items: center;
                text-align: center;
                align-items: center;
                max-width: 100%;
                    
                .boton-carrito{
                    border: 0;
                    border-radius: 10px;
                    margin-top: 1px;
                    padding: 10px;
                    max-width: 100%;
                    background-color: $titlecolor;
                    color: black;
                    text-transform: uppercase;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    place-items: center;

                    &:hover {
                        background-color: #abb481;
                        border-color: black;
                    }
                    
                    &:active {
                        background-color: #a3b650;
                        border-color: #ffffff;
                    }
                }
            
                .text-pedido{
                    color: white;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    place-items: center;
                    font-size: 15px;
                    margin-bottom: 5px;
                }
            
                .titulo-pedido{
                    color: $titlecolor;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    place-items: center;
                }
        
            }

        }
    }
}

    .swal2-container{
        
        .swal2-popup{
            border-width: 2px;
            border-color: $titlecolor;
            border-style: solid;
            background-color: rgb(168, 51, 51);

            .swal2-icon{
                .swal2-success{
                    color: white;

                }
            }
            .swal2-title{
                color: white;
            }
                    
            .swal2-html-container{
                color: white;
            }

            .swal2-actions{
                .swal2-confirm{
                    background-color: $titlecolor;
                    color: black;
                }
            }
        }
    }